.about-content {
  column-count: 4;
  color: $grayColor;
}

.about-title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-text {
  font-size: 14px;
  font-weight: bold;
}