.features {
  background-color: $blackColor;
}

.features-list {
  display: flex;
  justify-content: center;
  color: $whiteColor;
}

.features-item {
  width: 50%;
  padding: 80px 60px;
  text-align: center;
  background-color: $lightBlackColor;

  &:last-child {
    background-color: $mainColor;
  }
}

.features-title {
  color: $whiteColor;
}

.features-text {
  padding: 20px 0 20px 0;
  color: $grayColor;

  .is-highlighted & {
    color:$whiteColor;
  }
}

.features-link {
  color: $mainColor;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  
  .is-highlighted & {
    color: $whiteColor;
  }
}